<launch>

    <!-- EKF node -->
    <!-- <node pkg="igvc_ekf" type="igvc_ekf_node" name="igvc_ekf_node" output="screen" /> -->

    <!-- EKF Data Plotter -->
    <!-- <node pkg="igvc_ekf" type="ekf_plotter.py" name="ekf_plotter" output="screen" /> -->

    <!-- python dead reckoning node -->
    <node name="ekf_dead_reckoning" pkg="igvc_ekf" type="ekf_dead_reckoning.py" output="screen"/>
</launch>